.divOuter {
  padding-top: 100px;
  position: relative;
  height: 350px;
  text-align: center;
  background: grey;
  background: grey background-position: bottom left;
  border-radius: 15px;
}
body {
  border-radius: 19px;
  border: #99FC99 3px solid;
  
}
table, th, td {
  border: 3px solid #0FA30F;
  
  margin-left: 500px;
  padding: 5px;
  border-spacing: 15px;
  background-color: #CCCCCC
  
  
}
